.video-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: black;
}

.video-container:after {
  content: "";
  height: 300vh;
  width: 300vw;
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=161717ff&noise=626262&density=58&opacity=54");
  position: fixed;
  top: -100%;
  left: -50%;
  animation: grain 8s steps(10) infinite;
  opacity: 0.7;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  filter: grayscale(1);
}

.header {
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.camera-list {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

@keyframes grain {

  0%,
  100% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, 5%)
  }

  30% {
    transform: translate(7%, -25%)
  }

  40% {
    transform: translate(-5%, 25%)
  }

  50% {
    transform: translate(-15%, 10%)
  }

  60% {
    transform: translate(15%, 0%)
  }

  70% {
    transform: translate(0%, 15%)
  }

  80% {
    transform: translate(-5%, -25%)
  }

  90% {
    transform: translate(-10%, 10%)
  }
}